<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistiques</title>
</head>
<body>
    <h1>Statistiques des appareils</h1>
    <div id="statistics"></div>

    <script>
        async function fetchStatistics() {
            const response = await fetch('http://127.0.0.1:8000/devices', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                const devices = await response.json();
                const statisticsDiv = document.getElementById('statistics');
                statisticsDiv.innerHTML = JSON.stringify(devices, null, 2);
            } else {
                alert('Erreur lors de la récupération des statistiques.');
            }
        }

        // Appeler la fonction lorsque la page est chargée
        window.onload = fetchStatistics;
    </script>
</body>
</html>
